body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list { 
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}
.item {
  white-space: nowrap;
  padding: 5px 10px;
}
.item:hover {
  opacity: 0.5;
}
.item.header {
  background: red;
  position: absolute;
  right:0;
  left:0;
}
.item.empty {
  padding: 10px 0;
}
.container{
  border: 1px solid blue;
  width: 800px;
  margin: 0 auto;
  height: 400px;
}